@{
    ViewBag.Title = "Global Track";
    
}
@using Resources
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@Resource.Title</h2>
            </hgroup>
        </div>
    </section>
}
<h3>@Resource.HomeIndex_ForUsers</h3>
<ol class="round">
    <li class="one">
        <h5>@Resource.HomeIndex_TrackYourItemsTitle</h5>
        @Resource.HomeIndex_TrackYourItemsContent
        @Html.ActionLink(@Resource.HomeIndexTrack, "Index", "PublicTracking") 
    </li>
</ol>

<h3>@Resource.HomeIndex_ForServiceProviders</h3>
<ol class="round">
    <li class="one">
        <h5>@Resource.HomeIndexGettingStartedTitle</h5>
        @Resource.HomeIndexGettingStartedContent
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">@Resource.HomeIndexLearnMore</a>
    </li>

    <li class="two">
        <h5>@Resource.HomeIndexRegisterTitle</h5>
        @Resource.HomeIndexRegisterContent
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">@Resource.HomeIndexLearnMore</a>
    </li>

    <li class="three">
        <h5>@Resource.HomeIndexConfigureEnvTitle</h5>
        @Resource.HomeIndexConfigureEnvContent
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">@Resource.HomeIndexLearnMore</a>
    </li>
    <li class="four">
        <h5>@Resource.HomeIndexShareYourItemsTitle</h5>
        @Resource.HomeIndexShareYourItemsContent
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">@Resource.HomeIndexLearnMore</a>
    </li>
</ol>
